# Dependências
node_modules/

# Variáveis de Ambiente (Segurança - Cobre todas as variações)
.env
.env*.local
.env.development
.env.test
.env.production

# Pastas de Build / Compilação
dist/
.next/
out/
build/

# Logs de Erro do NPM/Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos de Sistema Operacional e Editor de Código
.DS_Store
Thumbs.db
.vscode/
.idea/